<h2>E-mail: "Undertheshowerofficial@gmail.com"</h2>
<h2>instagram: @Undertheshowerofficial</h2>
<h2>nr telefonu : +48 123 456 789</h2>
<%= image_tag('under.jpg', style: "height: 1080px; width: 720px") %>
