<h2>Eman: Największe przysto z całego zespołu. Fanki celują stanikiem właśnie w niego. Podobno ma osobny pokój na kolekcje staników. Na lekcjach perkusji z dziewczynami jego ulubiony tekst to: "Tak naprawdę to są 3 pałki"</h2>
<%= image_tag('bambi.jpg', style: "height: 1080px; width: 720px") %>