<h1>Witaj na oficjalnej stronie rockowego zespolu Under the Shower!</h1>
<br/>
<h1>Zapraszamy do poznania naszej muzyki oraz członków!</h1>
<br/>
<h1>Do usłyszenia!</h1>
<%= image_tag('chopaki.jpg', style: "height: 720px; width: 1080px") %>



