<h2>Kurjan: Złota rączka zespołu, naprawi wszystko nawet jeśli działa. Nieźle gra w piłę i robi stoliki. Jara szlugi jak profesjonalny smok.</h2>
<%= image_tag('kurjan.jpg', style: "height: 1080px; width: 720px") %>
