<h2>Jestesmy grupka przyjaciol, dla ktorych liczy sie tylko jedno - dotrzec swoja muzyka do jak najwiekszej liczby odbiorcow. Mamy za soba pare dobrych koncertow i nie mamy zamiaru zaprzestac grania na zywo, bo to w muzyce jest najlepsze. Mamy swietny kontakt z publicznoscia, a frontman zespolu - Oskar Madej zawsze zrobi dobre show. </h2>
<%= image_tag('chlopaki1.jpg', style: "height: 1080px; width: 720px") %>
