<h2>Pasior: Najgrubszy z całego zespołu chociaż ścigają się z Kurjanem zwłaszcza zimą. Nie gra najlepiej ale chłop sie stara i robi zajebiste efekty gitarowe. Jako jedyny czlonek zespolu ma fajna brode.</h2>
<%= image_tag('pasiorqtasior.jpg', style: "height: 720px; width: 720px") %>
